header {
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
}

.dspixel-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}

.dspixel-nav-content h1 {
    margin: 0;
    font-weight: 700px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

.dspixel-contact-container {
    display: flex;
    align-items: center;
}

.dspixel-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}